{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container emp-profile">
    <div class="row row-head">
        <div class="
                col-5
                col-sm-3
                col-md-3
                col-lg-3">
            <div class="profile-work">
                {% if   user.is_authenticated %}
                <p>{% trans "HOME" %}</p>
                <a href="{% url 'index' %}">{% trans "Profile" %}</a>
                <p>{% trans "RECEIVED DATASETS" %}</p>
                <a href="{% url 'my-borrowed' %}">{% trans "My datasets" %}</a><br/>
                <a href="{% url 'my-requests' %}">{% trans "My requests" %}</a><br/>
                <p>{% trans "LOGOUT" %}</p>
                <a href="{% url 'logout'%}">{% trans "Exit" %}</a>
                {% endif %}
                {% if user.is_staff %}
                <p>{% trans "STAFF" %}</p>
                <a href="{% url 'books' %}">{% trans "All datasets" %}</a><br/>
                <a href="{% url 'all-borrowed' %}">{% trans "All borrowed" %}</a><br/>
                {% endif %}
            </div>
        </div>
        <div class="col-12
                col-sm-9
                col-md-9
                col-lg-9">
            <div class="profile-head"><h5><b>{% trans "Datasets List" %}</b></h5></div>
            <hr>
            {% if book_list %}
            <ul class="list-group">
                {% for book in book_list %}
                <li class="list-group-item"><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})</li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-success">{% trans "There are no datasets in the data" %}</p>
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}
